<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shop-back</title>
</head>
<body>
    <h1>Lab 5</h1>
    <ul>
        <div>
            <a href="http://127.0.0.1:8000/admin">If u want open admin panel click this text</a>
        </div>

        <div>
            <a href="http://127.0.0.1:8000/api/categories/">If u can watch all categories click this text</a>
        </div>

        <div>
            <a href="http://127.0.0.1:8000/api/products/">If u can watch all products click this text</a>
        </div>
        
        <div>
            <p>If u get one category type this domen 'http://127.0.0.1:8000/api/categories/id/' </p>
        </div>

        <div>
            <p>If u get one product type this domen 'http://127.0.0.1:8000/api/products/id/' </p>
        </div>

        <div>
            <p>If u get one product with category type this domen 'http://127.0.0.1:8000/api/categories/id/products/' </p>
        </div>

    </ul>
</body>
</html>